NC_DOMAIN=nextcloud-YOURNAME.duckdns.org

DUCKDNS_TOKEN=your-duckdns-token-here

# MariaDB
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=change-me-nextcloud

# Nextcloud admin account
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=change-me-admin

# Regular (non-admin) account used by the Desktop Client for sync
DESKTOP_USER=change-me-username
DESKTOP_USER_PASSWORD=change-me-password
DESKTOP_USER_DISPLAY_NAME=change-me-name

# Redis (local)
REDIS_HOST=redis

LETSENCRYPT_EMAIL=your@email.com

# Monitoring
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana